{{ partial "header.html" . }}

<main class="main" role="main">

    <div class="wrap wide">
        <ul class="showcase grid gutter-1">
            <div class="wrap wide">

                <ul class="showcase grid gutter-1">

                    {{ $banners := $.Params.banners }}
                    {{ range $index, $banner := $banners }}

                        {{ range $.Site.Pages}}
                            {{ if eq .RelPermalink $banner.link }}
                                {{ $pageResources := .Resources }}
                                {{ $imageRef := $banner.imageRef}}
                                {{ $image := $pageResources.GetMatch $imageRef }}
                                {{ $thumb := $image.Fill "600x600 smart" }}

                                <li class="showcase-item column">
                                    <a href="{{ .RelPermalink }}" class="showcase-link">
                                        <img src="{{ $thumb.RelPermalink }}" alt="Thumbnail for {{ $banner.title }}" class="showcase-image">
                                        <div class="showcase-caption">
                                            <h3 class="showcase-title">{{ $banner.title }}</h3>
                                        </div>
                                    </a>
                                </li>

                            {{ end }}
                        {{ end }}

                    {{ end }}

                </ul>
            </div>

        </ul>
    </div>

    <section class="projects-section">
    </section>

</main>


{{ partial "footer.html" . }}